<!DOCTYPE html>

<html>

<head>
    <title>error 404</title>
    <link rel="icon" href="/img/logo.png"> 
    <link rel='stylesheet' href="/css/styles.css">
    <script src='/js/app.js'></script>
</head>

<body>
    <div class="main-content">
        {{>header}}
        <!-- this is the syntax to recieve the value from nodejs to hadlebars -->
        {{errorMessage}}
    </div>
    
    {{>footer}}


</body>

</html>