<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/logo.png">
    <link rel='stylesheet' href="./css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This website is created by Ahmad Shadab Ansari.<br>
         It uses data from mapbox.com and darksky.net .  </p>
        <img class="portrait " src="/img/shadab.png">
    </div>
   
    {{>footer}}

</body>

</html>